## Build
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Bb]uild[Ll]og.*
artifacts/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Rider / VS Code
.idea/
.vscode/

## Testes
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

## Sistema operacional
.DS_Store
Thumbs.db
desktop.ini
